*{
    color: #2ecc71;
    /*rgb(46,204,113)*/
    color: #27ae60;
    /*rgb(39,174,96)*/
    color: #4cd137;
    /*rgb(76,209,55)*/
    color: #44bd32;
    /*rgb(68,189,50)*/
    color: #05c46b;
    /*rgb(5,196,107)*/
}